.top__bar {
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50px;
    color: #a9a9a9;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.icons {
    padding-left: 24px;
}